
body {
        background-image: url(./images/Jordan_10_Retro.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        width: 800px;
        margin: 0 auto;
}
img {
    display: block;
    border: 10px solid black;
    border-radius: 10 px;
    margin-left: auto;
    height: 200px;
    width: 200px;
}
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
